/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

h1 {
  color: rgb(14, 73, 112);
  margin: 15px;
}
body {
  height: 100vh;
}
article {
  background: #ccc;
  margin: 15px;
  padding: 15px;
}
section {
  margin: auto;
  width: 50%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
article:first-child {
  background-color: blue;
  color: white;
}
header {
  padding: 15px;
  background: #ccc;
}
.logo {
  max-width: 50px;
  max-height: 50px;
}
footer {
  padding: 15px;
  height: 30px;
  background: #ccc;
}
.header_flex {
  display: flex;
  align-items: center;
}
